<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Youtube playlist manager - '+${null != title ? title : ''}"></title>
    <meta charset="utf-8" />
</head>
<body>
<a th:href="@{/logout}"> <i class="icon-off"></i> Logout</a>
<main class="my-5">
    <div class="container">
        <p th:if="${MSG_SUCCESS}" th:text="${MSG_SUCCESS}" class="alert alert-success mb-4" role="alert"></p>
        <p th:if="${MSG_INFO}" th:text="${MSG_INFO}" class="alert alert-info mb-4" role="alert"></p>
        <p th:if="${MSG_ERROR}" th:text="${MSG_ERROR}" class="alert alert-danger mb-4" role="alert" ></p>
    </div>
    <div class="main-content" th:fragment="maincontent(content)">
        <div th:replace="${content}"></div>
    </div>
</main>
<footer>
    <script>
        // Attach a click event listener to all buttons with the class "action-button"
        document.querySelectorAll('.action-button').forEach(function(button) {
            button.addEventListener('click', function(event) {
                // Retrieve the "data-action" attribute from the clicked button
                const action = event.currentTarget.getAttribute('data-href');
                const method = event.currentTarget.getAttribute('data-method');
                const xhr = new XMLHttpRequest();
                xhr.open(method, action, true);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        alert('Playlist imported correctly');
                        location.reload();
                    } else {
                        // Handle AJAX error and show error toast
                        alert("An error occurred: " + xhr.statusText);
                    }
                };
                xhr.send();
            });
        });
    </script>
</footer>
</body>
</html>