<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" th:replace="~{default}"
      th:insert="~{default :: maincontent(~{ :: .main-content})}">
    <div class="main-content">
        <h1>Imported playlists</h1>
        <table>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr th:each=" pl : ${importedPlaylists}">
                <td><img th:alt="plthumbnail" th:src="${pl.thumbnail}" /></td>
                <td th:text="${pl.title}"></td>
                <td th:text="${pl.title}"></td>
                <td><a th:href="@{/playlist/detail/{id}(id=${pl.ytPlaylistId})}">Visualizza</a></td>
                <td><button class="action-button" data-method="DELETE" th:data-href="@{/playlist/{id}(id=${pl.ytPlaylistId})}">Elimina</button></td>
            </tr>
        </table>
        <h1>Playlist available</h1>
        <table>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr th:each=" pl : ${availablePlaylists}">
                <td><img th:alt="plthumbnail" th:src="${pl.thumbnail}" /></td>
                <td th:text="${pl.title}"></td>
                <td th:text="${pl.title}"></td>
                <td><a th:href="@{/playlist/detail/{id}(id=${pl.ytPlaylistId})}">Visualizza</a></td>
                <td><button class="action-button" data-method="GET" th:data-href="@{/import/playlist/{id}(id=${pl.ytPlaylistId})}">Importa</button></td>
            </tr>
        </table>
        <div>
            <a th:if="${nextPageToken != null}" th:href="@{/(nextToken=${nextPageToken})}">Next</a>
        </div>
    </div>
</html>